{% extends "base.html" %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}
{%block body %}
    <div class="col-md-3 mt-2 p-3 bg-light">
        <h6>Filter by Category</h6>
        <hr>
        <p><a href="/">All </a></p>
        <p><a href="{%url 'catList'%}">Cat</a></p>
        <p><a href="{%url 'dogList'%}">Dog</a></p>
        <p><a href="{%url 'fishList'%}">Fish</a></p>
        <p><a href="{%url 'birdList'%}">Bird</a></p>
        <p><a href="{%url 'tortoiseList'%}">Tortoise</a></p>
<!-- ------------------------------------------------------------------------
                                 filter queryset
--------------------------------------------------------------------------------   -->      
        <h6>Filter by Price</h6>
        <form method="post" action="{%url 'range'%}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="Input1" class="form-label">Minimum:</label>
            <input type="text" name="min" class="form-control" id="Input1" placeholder="Minimum_Value">
          </div>
          <div class="mb-3">
            <label for="Input2" class="form-label">Maximum</label>
            <input type="text" name="max" class="form-control" id="Input2" placeholder="Maximum_Value">
          </div>
          <a href="/range"><button type="submit" name="range"  class="btn btn-primary">Submit</button></a>
        </form>
<!-- ------------------------------------------------------------------------
                              sort
--------------------------------------------------------------------------------    -->    
        <h6>Sort by Size</h6>
        <hr>
        <p><a href="">High to low</a></p>
        <p><a href="">Low to High</a></p>
    </div>
<!-- ------------------------------------------------------------------------
                                   cart
--------------------------------------------------------------------------------    --> 
    <div class="col-md-9">
        <div class="row m-2">
          {% for x in data %}
            <div class="col-md-4 mt-2">
              <div class="card" style="width: 100%; ">
                <img src="{{x.image.url}}" class="card-img-top" alt="..." style="width: 100%; height:200px;">
                <hr>
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">{{x.name}}</h5>
                  <hr>
                  <p class="card-title">{{x.category}}<p>
                  <p class="card-text">{{x.price}}</p>
                  <p class="card-text">{{x.description}}</p>
                  <a href="details/{{x.id}}" class="btn btn-primary">view</a>
                  <a href="/addcart/{{x.id}}"><button type="submit" class="btn btn-danger">Add to card</button></a>
                </div>
              </div>
            </div>
            {% endfor %}
           <!-- ------------------------------------------------------------------------
                                                search
           ------------------------------------------------------------------------  -->
           <div class="col-md-12">
            <div class="row m-2">
              {% for x in results %}
                <div class="col-md-4 mt-2">
                  <div class="card" style="width: 100%; ">
                    <img src="{{x.image.url}}" class="card-img-top" alt="..." style="width: 100%; height:200px;">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">{{x.name}}</h5>
                      <hr>
                      <p class="card-title">{{x.category}}<p>
                      <p class="card-text">{{x.price}}</p>
                      <p class="card-text">{{x.description}}</p>
                      <a href="details/{{x.id}}" class="btn btn-primary">view</a>
                      <a href="/addcart/{{x.id}}"><button type="submit" class="btn btn-danger">Add to card</button></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
        </div>
      </div>
{% endblock %}